<h1>List of previoues inputs</h1>
 <%= link_to 'New Calculation', new_loan_detail_path %>
 <br>
<table>
  <tr>
    <th style="padding-left: 10px">Loan amount</th>
    <th style="padding-left: 10px">Tenure</th>
    <th style="padding-left: 10px">Rate of interest</th>
    <th style="padding-left: 10px">One time payment</th>
    <th style="padding-left: 10px">Monthly payment</th>
    <th style="padding-left: 10px">Yearly payment</th>
  </tr>
 
  <% @loanDetails.each do |loanDetail| %>
   
    <tr>
      <td style="padding-left: 10px"><%= loanDetail.loan_amount %></td>
      <td style="padding-left: 10px"><%= loanDetail.tenure %></td>
      <td style="padding-left: 10px"><%= loanDetail.rate_of_interest %></td>
      <td style="padding-left: 10px"><%= loanDetail.one_time_payment %></td>
      <td style="padding-left: 30px"><%= loanDetail.monthly_payment %></td>
      <td style="padding-left: 30px"><%= loanDetail.yearly_payment %></td>
      <td style="padding-left: 30px"><%= link_to 'Show', loan_detail_path(loanDetail) %></td>
      <td style="padding-left: 10px"><%= link_to 'Edit', edit_loan_detail_path(loanDetail) %></td>
      <td style="padding-left: 10px"><%= link_to 'Destroy', loan_detail_path(loanDetail),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>